In [1]:
import pandas as pd

In [2]:
#load train dataset
train = pd.read_csv('train.csv',index_col='id')

print(train.shape)
train.head()

(61878, 94)

,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,feat_10,...,feat_85,feat_86,feat_87,feat_88,feat_89,feat_90,feat_91,feat_92,feat_93,target
id,,,,,,,,,,,,,,,,,,,,,
1,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,Class_1
2,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Class_1
3,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Class_1
4,1,0,0,1,6,1,5,0,0,1,...,0,1,2,0,0,0,0,0,0,Class_1
5,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,Class_1

In [3]:
#load test dataset
test = pd.read_csv('test.csv', index_col='id')

print(test.shape)
test.head()

(144368, 93)

,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,feat_10,...,feat_84,feat_85,feat_86,feat_87,feat_88,feat_89,feat_90,feat_91,feat_92,feat_93
id,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,3,...,0,0,11,1,20,0,0,0,0,0
2,2,2,14,16,0,0,0,0,0,0,...,0,0,0,0,0,4,0,0,2,0
3,0,1,12,1,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,1
4,0,0,0,1,0,0,0,0,0,0,...,0,3,1,0,0,0,0,0,0,0
5,1,0,0,1,0,0,1,2,0,3,...,0,0,0,0,0,0,0,9,0,0

In [4]:
#train data: seperate target column
label_name = "target"
feature_names = train.columns.difference([label_name])

feature_names

Index(['feat_1', 'feat_10', 'feat_11', 'feat_12', 'feat_13', 'feat_14',
       'feat_15', 'feat_16', 'feat_17', 'feat_18', 'feat_19', 'feat_2',
       'feat_20', 'feat_21', 'feat_22', 'feat_23', 'feat_24', 'feat_25',
       'feat_26', 'feat_27', 'feat_28', 'feat_29', 'feat_3', 'feat_30',
       'feat_31', 'feat_32', 'feat_33', 'feat_34', 'feat_35', 'feat_36',
       'feat_37', 'feat_38', 'feat_39', 'feat_4', 'feat_40', 'feat_41',
       'feat_42', 'feat_43', 'feat_44', 'feat_45', 'feat_46', 'feat_47',
       'feat_48', 'feat_49', 'feat_5', 'feat_50', 'feat_51', 'feat_52',
       'feat_53', 'feat_54', 'feat_55', 'feat_56', 'feat_57', 'feat_58',
       'feat_59', 'feat_6', 'feat_60', 'feat_61', 'feat_62', 'feat_63',
       'feat_64', 'feat_65', 'feat_66', 'feat_67', 'feat_68', 'feat_69',
       'feat_7', 'feat_70', 'feat_71', 'feat_72', 'feat_73', 'feat_74',
       'feat_75', 'feat_76', 'feat_77', 'feat_78', 'feat_79', 'feat_8',
       'feat_80', 'feat_81', 'feat_82', 'feat_83', 'feat_84', 'feat_85',
       'feat_86', 'feat_87', 'feat_88', 'feat_89', 'feat_9', 'feat_90',
       'feat_91', 'feat_92', 'feat_93'],
      dtype='object')

In [5]:
X_train = train[feature_names]

print(X_train.shape)
X_train.head()

(61878, 93)

,feat_1,feat_10,feat_11,feat_12,feat_13,feat_14,feat_15,feat_16,feat_17,feat_18,...,feat_85,feat_86,feat_87,feat_88,feat_89,feat_9,feat_90,feat_91,feat_92,feat_93
id,,,,,,,,,,,,,,,,,,,,,
1,1,0,1,0,0,0,0,0,2,0,...,1,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,2,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,1,1,1,0,1,0,0,1,1,0,...,0,1,2,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,4,0,...,1,0,0,0,0,0,1,0,0,0

In [6]:
X_test = test[feature_names]

print(X_test.shape)
X_test.head()

(144368, 93)

,feat_1,feat_10,feat_11,feat_12,feat_13,feat_14,feat_15,feat_16,feat_17,feat_18,...,feat_85,feat_86,feat_87,feat_88,feat_89,feat_9,feat_90,feat_91,feat_92,feat_93
id,,,,,,,,,,,,,,,,,,,,,
1,0,3,0,0,0,3,2,1,0,0,...,0,11,1,20,0,0,0,0,0,0
2,2,0,0,0,0,0,2,2,0,0,...,0,0,0,0,4,0,0,0,2,0
3,0,0,7,1,0,0,0,7,0,2,...,0,0,0,2,0,0,0,0,0,1
4,0,0,0,0,0,0,21,3,0,0,...,3,1,0,0,0,0,0,0,0,0
5,1,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,9,0,0

In [7]:
y_train = train[label_name]

print(y_train.shape)
y_train.head()

(61878,)

id
1    Class_1
2    Class_1
3    Class_1
4    Class_1
5    Class_1
Name: target, dtype: object

In [9]:
from lightgbm import LGBMClassifier

model = LGBMClassifier()
%time model.fit(X_train, y_train)

Wall time: 13.1 s

LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
               importance_type='split', learning_rate=0.1, max_depth=-1,
               min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
               n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
               random_state=None, reg_alpha=0.0, reg_lambda=0.0, silent=True,
               subsample=1.0, subsample_for_bin=200000, subsample_freq=0)

#### Searching for the Best Hyperparameter

In [22]:
import numpy as np
from lightgbm import LGBMClassifier
from sklearn.model_selection import StratifiedKFold, cross_val_score

random_state = 42
num_loop = 50
kf = StratifiedKFold(n_splits=5, random_state=random_state, shuffle=False) #5-cv
hyperparameters_list = []

for loop in range(num_loop):
    n_estimators = np.random.randint(500, 3000)
    num_leaves =  np.random.randint(100, 200)
    min_child_samples = np.random.randint(50, 100)
    min_child_weight = np.random.uniform(0.5, 0.8) 
    subsample = np.random.uniform(0.4, 0.8) 
    colsample_bytree = np.random.uniform(0.4, 0.7)
    reg_alpha = 10 ** -np.random.uniform(low=3, high=8)
    reg_lambda = 10 ** -np.random.uniform(low=5, high=15)
    learning_rate = 10 ** -np.random.uniform(low=0.9, high=3)

    parameters ={'loop': loop,
                 'n_estimators': n_estimators,
                 'num_leaves': num_leaves, 
                 'min_child_samples': min_child_samples, 
                 'min_child_weight': min_child_weight,
                 'subsample': subsample, 
                 'colsample_bytree': colsample_bytree,
                 'reg_alpha': reg_alpha,
                 'reg_lambda': reg_lambda,
                 'n_estimators': n_estimators,
                 'learning_rate' : learning_rate,
                 'random_state': random_state}

    fit_params = {'verbose':0}
    
    model = LGBMClassifier(**parameters)
    
    score = cross_val_score(model, X_train, y_train, cv=kf, fit_params=fit_params, scoring='neg_log_loss').mean()
    score = -1.0 * score
    
    parameters['score'] = score
    
    print(f"{loop:2} best iteration = {parameters['n_estimators']}, Score = {parameters['score']:.6f}")
    
    hyperparameters_list.append(parameters)
    hyperparameters_data = pd.DataFrame(hyperparameters_list)
    hyperparameters_data = hyperparameters_data.sort_values(by="score")
    
    hyperparameters_data.to_csv("paramsearch.csv")
    
hyperparameters_data.head(10)

 0 best iteration = 1134, Score = 0.566179
 1 best iteration = 2620, Score = 0.589942
 2 best iteration = 724, Score = 0.876418
 3 best iteration = 1347, Score = 0.537368
 4 best iteration = 1598, Score = 0.454768
 5 best iteration = 1514, Score = 0.585107
 6 best iteration = 2287, Score = 0.718630
 7 best iteration = 1406, Score = 0.771177
 8 best iteration = 852, Score = 0.491497
 9 best iteration = 1474, Score = 0.462664
10 best iteration = 2182, Score = 0.449942
11 best iteration = 1577, Score = 0.649029
12 best iteration = 1447, Score = 0.553344
13 best iteration = 1863, Score = 0.607983
14 best iteration = 584, Score = 0.514929
15 best iteration = 662, Score = 1.109044
16 best iteration = 2613, Score = 0.563200
17 best iteration = 2025, Score = 0.718588
18 best iteration = 1668, Score = 0.454792
19 best iteration = 1608, Score = 0.472289
20 best iteration = 893, Score = 0.958552
21 best iteration = 908, Score = 0.490178
22 best iteration = 2740, Score = 0.702310
23 best iteration = 1175, Score = 0.509698
24 best iteration = 1332, Score = 0.768369
25 best iteration = 1453, Score = 0.515475
26 best iteration = 700, Score = 1.224989
27 best iteration = 2711, Score = 0.580921
28 best iteration = 903, Score = 0.545746
29 best iteration = 1197, Score = 0.486849
30 best iteration = 1759, Score = 0.562386
31 best iteration = 567, Score = 0.483232
32 best iteration = 904, Score = 0.589300
33 best iteration = 2108, Score = 0.575637
34 best iteration = 2674, Score = 0.667251
35 best iteration = 2565, Score = 0.485370
36 best iteration = 1985, Score = 0.450960
37 best iteration = 2668, Score = 0.720044
38 best iteration = 1945, Score = 0.491294
39 best iteration = 1555, Score = 0.891578
40 best iteration = 1052, Score = 0.571412
41 best iteration = 2423, Score = 0.487304
42 best iteration = 2133, Score = 0.546275
43 best iteration = 1481, Score = 0.622946
44 best iteration = 1291, Score = 0.694106
45 best iteration = 2570, Score = 0.490738
46 best iteration = 2127, Score = 0.469638
47 best iteration = 2000, Score = 0.625147
48 best iteration = 823, Score = 0.862022
49 best iteration = 2679, Score = 0.600112

,loop,n_estimators,num_leaves,min_child_samples,min_child_weight,subsample,colsample_bytree,reg_alpha,reg_lambda,learning_rate,random_state,score
10,10,2182,191,82,0.586390,0.757941,0.583740,1.752060e-08,2.063374e-13,0.005643,42,0.449942
36,36,1985,188,95,0.577351,0.558877,0.515154,5.396037e-05,4.759564e-11,0.006284,42,0.450960
4,4,1598,197,60,0.762410,0.584664,0.461706,1.256698e-07,4.038858e-14,0.006717,42,0.454768
18,18,1668,190,66,0.654699,0.508558,0.559024,4.248759e-06,7.758472e-06,0.010279,42,0.454792
9,9,1474,149,93,0.719610,0.547762,0.539679,1.744456e-05,3.048045e-07,0.016674,42,0.462664
46,46,2127,112,78,0.681873,0.520452,0.480438,4.145726e-06,3.328156e-11,0.015825,42,0.469638
19,19,1608,138,66,0.799282,0.652342,0.532512,2.159492e-04,1.743082e-10,0.005214,42,0.472289
31,31,567,122,75,0.732109,0.608665,0.589970,6.756533e-04,1.029387e-13,0.059015,42,0.483232
35,35,2565,137,69,0.638947,0.755058,0.648208,1.204814e-06,5.021387e-13,0.012437,42,0.485370
29,29,1197,123,51,0.711316,0.535595,0.679385,6.196523e-04,1.292760e-15,0.027895,42,0.486849

In [8]:
from lightgbm import LGBMClassifier

model = LGBMClassifier(learning_rate=0.0056432697050998,
                       n_estimators=2182,
                       num_leaves=191,
                       max_bin=356,
                       min_child_samples=82,
                       min_child_weight=0.586390277066787,
                       subsample=0.757941056626682,
                       colsample_bytree=0.583740293457564,
                       reg_alpha=1.75206005348556E-08,
                       reg_lambda=2.0633736852763E-13,
                       random_state=42)
model

LGBMClassifier(boosting_type='gbdt', class_weight=None,
        colsample_bytree=0.583740293457564, importance_type='split',
        learning_rate=0.0056432697050998, max_bin=356, max_depth=-1,
        min_child_samples=82, min_child_weight=0.586390277066787,
        min_split_gain=0.0, n_estimators=2182, n_jobs=-1, num_leaves=191,
        objective=None, random_state=42, reg_alpha=1.75206005348556e-08,
        reg_lambda=2.0633736852763e-13, silent=True,
        subsample=0.757941056626682, subsample_for_bin=200000,
        subsample_freq=0)

In [9]:
from sklearn.model_selection import StratifiedKFold, cross_val_score

kf = StratifiedKFold(n_splits=5, random_state=42, shuffle=False)

fit_params = {'verbose': 0}

score = cross_val_score(model, X_train, y_train, cv=kf,
                        fit_params=fit_params, scoring='neg_log_loss').mean()
score = -1.0 * score

print(f"Score = {score:.5f}")

Score = 0.44994

In [10]:
model.fit(X_train, y_train)

LGBMClassifier(boosting_type='gbdt', class_weight=None,
        colsample_bytree=0.583740293457564, importance_type='split',
        learning_rate=0.0056432697050998, max_bin=356, max_depth=-1,
        min_child_samples=82, min_child_weight=0.586390277066787,
        min_split_gain=0.0, n_estimators=2182, n_jobs=-1, num_leaves=191,
        objective=None, random_state=42, reg_alpha=1.75206005348556e-08,
        reg_lambda=2.0633736852763e-13, silent=True,
        subsample=0.757941056626682, subsample_for_bin=200000,
        subsample_freq=0)

In [11]:
predictions = model.predict_proba(X_test)

print(predictions.shape)
predictions

(144368, 9)

array([[2.27528909e-04, 1.33313816e-01, 1.32764883e-01, ...,
        2.80892654e-03, 8.17467190e-04, 1.67137761e-04],
       [2.19573647e-03, 1.21098077e-02, 3.32309282e-03, ...,
        1.10404093e-03, 6.59553126e-01, 1.57107820e-03],
       [1.24147011e-05, 6.58943147e-05, 5.35359429e-05, ...,
        1.69753649e-05, 7.71647791e-04, 2.07860087e-05],
       ...,
       [3.27847364e-04, 6.17272409e-01, 2.97237277e-01, ...,
        1.73023075e-03, 8.39177208e-04, 3.25766560e-04],
       [1.48021991e-04, 3.29463825e-01, 2.67327316e-02, ...,
        6.32391538e-04, 2.06715094e-04, 1.58411391e-04],
       [1.95933370e-04, 5.88612414e-01, 3.57254710e-01, ...,
        2.64300433e-02, 4.24724556e-04, 2.47694928e-04]])

In [12]:
#file for submission
submission_sample = pd.read_csv("sampleSubmission.csv", index_col="id")

print(submission_sample.shape)
submission_sample.head()

(144368, 9)

,Class_1,Class_2,Class_3,Class_4,Class_5,Class_6,Class_7,Class_8,Class_9
id,,,,,,,,,
1,1,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0
5,1,0,0,0,0,0,0,0,0

In [13]:
submission = pd.DataFrame(predictions, index=submission_sample.index, columns=model.classes_)

print(submission.shape)
submission.head()

(144368, 9)

,Class_1,Class_2,Class_3,Class_4,Class_5,Class_6,Class_7,Class_8,Class_9
id,,,,,,,,,
1,0.000228,0.133314,0.132765,0.729089,0.000063,0.000748,0.002809,0.000817,0.000167
2,0.002196,0.012110,0.003323,0.000651,0.000581,0.318912,0.001104,0.659553,0.001571
3,0.000012,0.000066,0.000054,0.000019,0.000006,0.999034,0.000017,0.000772,0.000021
4,0.000148,0.652810,0.340835,0.003912,0.000086,0.000620,0.000309,0.000439,0.000843
5,0.131691,0.001465,0.001855,0.000378,0.000365,0.003716,0.002967,0.071135,0.786427

In [14]:
submission.to_csv("otto-submission.csv")